{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="hero-card">
        <h1 style="color: var(--accent-2);">About the Project</h1>
        <p class="lead">
            This system detects malicious network traffic using an optimized
            hybrid deep learning model based on the CICIDS2017 dataset.
            It integrates PCA, CNN, and BiLSTM for accurate and efficient
            intrusion detection.
        </p>
    </div>

    <div class="card">
        <h3 style="color: var(--accent-2);">Project Team</h3>

        <hr>

        <!-- Member 1 -->
        <section>
            <h4 style="color: var(--accent); font-weight:600;" >
                Dr. Rajendran Satheeskumar
            </h4>
            <p class="kv" style="color: var(--text);">
                <strong>Role:</strong> Project Guide & Research Supervisor
            </p>
        </section>

        <hr>

        <!-- Member 2 -->
        <section>
            <h4 style="color: var(--accent); font-weight:600;">
                Namburi Teja
            </h4>
            <p class="kv"style="color: var(--text);"  >
                <strong>Role:</strong> Model Development, Backend & Web Integration
            </p>
        </section>

        <hr>

        <!-- Member 3 -->
        <section>
            <h4 style="color: var(--accent); font-weight:600;">
                Kopparapu Siva Hemanth Kumar
            </h4>
            <p class="kv" style="color: var(--text);">
                <strong>Role:</strong> Dataset Processing & Feature Engineering
            </p>
        </section>

        <hr>

        <!-- Member 4 -->
        <section>
            <h4 style="color: var(--accent); font-weight:600;">
                Jalukuri Gopi
            </h4>
            <p class="kv" style="color: var(--text);">
                <strong>Role:</strong> Model Evaluation & Performance Analysis
            </p>
        </section>

        <hr>

        <!-- Member 5 -->
        <section>
            <h4 style="color: var(--accent); font-weight:600;">
                Vipparla Chetan
            </h4>
            <p class="kv" style="color: var(--text);">
                <strong>Role:</strong> Documentation & Research Analysis
            </p>
        </section>
    </div>
</section>

{% endblock %}
